@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    height: 100%;
    overflow: hidden;
  }
  
  #__next {
    height: 100%;
  }
}

@layer utilities {
  .scrollable-table {
    max-height: calc(100vh - 200px);
  }
}